<!DOCTYPE html>
<html>
  <head>
    <title>Página de produtos</title>
    <link rel="stylesheet" href="/stylesheets/products.css">
  </head>
  <body>
    <header>
      <div>
        <img src="https://seeklogo.com/images/F/fake-biker-logo-A922297523-seeklogo.com.png" height="40px" width="80px"/>
      </div>
      <a href="/products">Produtos</a>
      <a href="/about">Acessar Sobre</a>
    </header>
    <h1>Produtos</h1>

    <strong>texto 1</strong>
    <strong>texto 2</strong>

  </body>
</html> 

<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% products.forEach(function(product) { %>
      Nome: <%= product.name %>
      <br />
      Tipo: <%= product.type %>
    <% }) %>
  </body>
</html> -->
