<!DOCTYPE html>
<html>
  <head>
    <title>pagina de produtos</title>
  </head>
  <body>
    <h1>Produtos</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/512px-Circle-icons-profile.svg.png" 
    height="200px"
    width="200px"
    alt="Gatinho fofo" />
    <br />
    <a href="/about">Acessar Sobre</a>
    <p>
      Meu nome é: <strong>Renato</strong>
      <br />
      Idade: <strong>27</strong>
      <br />
      Estado civil: <strong>Solteiro</strong>
    </p>
    <h3>Qualidades</h3>
    <ul>
      <li>Qualidade 1</li>
      <li>Qualidade 2</li>
    </ul>
    <ol>
      <li>Qualidade 3</li>
      <li>Qualidade 4</li>
    </ol>
  </body>
</html> 

<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% products.forEach(function(product) { %>
      Nome: <%= product.name %>
      <br />
      Tipo: <%= product.type %>
    <% }) %>
  </body>
</html> -->
